server:
  address: 0.0.0.0
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:ReachGRC-Trust--B}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:root}

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true

#  sql:
#    init:
#      mode: always

cors:
  allowed-origins:
    - http://localhost:5173